.button {
  width: 15rem;
  font-size: 2rem;
  padding: 1rem;
  font-family: inherit;
  border: none;
  background-color: var(--color-5);
  color: white;

  &:hover {
    cursor: pointer;
    background-color: var(--color-3);
  }
}

.buttonred {
  background-color: var(--color-4);
}
